p {
  color: var(--main-color);
}

.home_events,
.home_webinar {
  padding: 20px;
  text-align: center;
}

.home_events h2,
.home_webinar h2,
.kids_corner_info h2 {
  background: #45b7bf;
  border-radius: 2px;
}

.events_container,
.webinar_container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.events,
.webinar {
  display: block;
  color: white;
  text-align: left;
  border-radius: 5px;
  margin: 20px;
}

.events img,
.webinar img,
.kids_birthday img,
.science_club img {
  width: 100%;
}

.events p,
.events h3 {
  padding: 10px 20px;
}

.webinar_info {
  background: #ae9fe5;
}

.webinar_info,
.main_kids_corner,
.kids_corner_container {
  text-align: center;
  padding: 20px;
  color: white;
}

.kids_corner_container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: white;
  width: 100%;
}

.kids_corner_container h3 {
  text-align: center;
}

.kids_corner_info,
.webinar_info {
  display: block;
  padding: 20px;
}

.kids_birthday,
.science_club {
  padding: 20px;
  max-width: 455px;
}

.kids_birthday {
  text-align: center;
}
