.home_events,
.home_webinar {
  padding: 20px;
  text-align: center;
}

.events_container,
.webinar_container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.events,
.webinar {
  display: block;
  color: white;
  text-align: left;
  border-radius: 5px;
  margin: 20px;
}

.events img,
.webinar img {
  width: 100%;
  border-radius: 5px;
}

.kids_birthday img,
.science_club img {
  width: 100%;
  border-radius: 50%;
}

.events p,
.events h3 {
  padding: 10px 20px;
}

.information_container {
  background: rgb(208, 88, 142);
  background: linear-gradient(
    90deg,
    rgba(208, 88, 142, 1) 0%,
    rgba(126, 29, 171, 1) 100%
  );
}

.main_kids_corner {
  padding: 20px;
  text-align: center;
}

.kids_corner_info {
  background: #c2c7e5;
}

.kids_corner_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

.kids_corner_info,
.webinar_info {
  display: block;
  padding: 20px;
}

.kids_birthday,
.science_club {
  padding: 20px;
  max-width: 455px;
}
