.main_events_container,
.main_webinars_container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.main_education_container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}

.information_container {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 112, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.main_education img {
  width: 100%;
  border-radius: 5px;
}

.main_events_content,
.main_webinars_content,
.main_education_content,
.main_education_text {
  display: block;
  padding: 20px;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
}
