.main_events,
.main_education {
  padding: 20px;
  text-align: center;
}

.main_education {
  background: white;
}

.main_events_container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.main_education_container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}

.main_events img {
  width: 100%;
  border-radius: 5px;
  max-height: 206px;
}

.home_information_container {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 112, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 20px 30px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.main_education img {
  width: 100%;
  border-radius: 5px;
}

.main_events_content,
.main_education_content {
  display: block;
  padding: 20px;
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
}

.main_events_content h3 {
  color: #640751;
}
