@media (min-width: 600px) {
  .main_events_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .main_education_container {
    flex-direction: row;
    align-items: stretch;
  }

  .rounded {
    display: none;
  }

  .main_events img {
    display: inline-block;
    min-height: 141px;
  }

  .main_events_content,
  .main_education_content {
    max-width: 455px;
  }

  .main_education_text {
    display: inline-block;
  }

  .kids_corner_container {
    flex-direction: row;
    align-items: stretch;
  }

  .kids_birthday,
  .science_club {
    width: 100%;
  }

  .kids_birthday {
    border-right: 3px solid white;
  }

  .exhibition_content {
    display: flex;
  }

  .exhibition_content > * {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .exhibition_content {
    align-items: stretch;
    padding: 20px;
  }
  .exhibition_text {
    max-width: 455px;
    margin-left: 20px;
  }
}

@media (min-width: 820px) {
  .menu-btn {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  nav {
    display: block;
    position: static;
    background: none;
  }

  nav li {
    display: inline-block;
    padding: 10px;
    color: white;
  }

  .main_events img {
    display: inline-block;
    max-height: 235px;
  }

  .main_events_container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .main_education_container {
    justify-content: center;
  }

  .events_container,
  .webinar_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .kids_corner_container,
  .exhibition_content {
    justify-content: center;
  }

  .visit_location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
  }
}
