@media (min-width: 600px) {
  .main_education_container,
  .kids_corner_container,
  .subscription-event-container,
  .subscription-exhibition-container,
  .subscription-education-container {
    flex-direction: row;
    align-items: stretch;
  }

  .main_events_content,
  .main_education_content,
  .subscription_content_events,
  .subscription_content_exhiitions,
  .subscription_content_education {
    max-width: 455px;
  }

  .kids_birthday,
  .science_club,
  .exhibition_content {
    width: 100%;
  }

  .main_education_container .rounded,
  .main_kids_corner .rounded,
  .kids_birthday .rounded {
    display: none;
  }

  .kids_birthday {
    border-right: 3px solid #a21085;
  }

  .exhibition_content,
  .education_content,
  .subscription_content_events,
  .subscription_content_exhibitions,
  .subscription_content_education {
    display: flex;
  }

  .exhibition_content > *,
  .education_content > *,
  .subscription_content_events > *,
  .subscription_content_exhibitions > *,
  .subscription_content_education > * {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .exhibition_content,
  .education_content,
  .subscription_content_events,
  .subscription_content_exhibitions,
  .subscription_content_education {
    align-items: stretch;
    padding: 20px;
  }
  .exhibition_text {
    max-width: 455px;
    margin-left: 20px;
  }

  .education_container .rounded {
    margin: 0;
  }

  .education_content h2,
  .education_text {
    text-align: left;
  }

  .education_text {
    max-width: 455px;
    margin-right: 20px;
  }
}

@media (min-width: 820px) {
  .menu-btn {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  nav {
    display: block;
    position: static;
    background: none;
  }

  nav li {
    display: inline-block;
    padding: 10px;
    color: white;
  }

  .main_events_container,
  .main_webinars_container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .main_education_container,
  .subscription-event-container,
  .subscription-exhibition-container,
  .subscription-education-container {
    justify-content: center;
  }

  .information_container {
    font-size: 1.1em;
  }

  .events_container,
  .webinar_container,
  .get-involved_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .kids_corner_container,
  .exhibition_content {
    justify-content: center;
  }

  .visit_location {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
  }
}
