@media (min-width: 600px) {
  .home_events_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .home_explore_container {
    align-items: center;
  }

  .rounded {
    display: none;
  }

  .main_events img {
    display: inline-block;
    min-height: 141px;
  }

  .home_events,
  .home_explore {
    max-width: 455px;
  }

  .home_events_content,
  .home_explore_content {
    display: inline-block;
  }
}

@media (min-width: 820px) {
  .menu-btn {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  nav {
    display: block;
    position: static;
    background: none;
  }

  nav li {
    display: inline-block;
    padding: 10px;
    color: white;
  }

  .main_events img {
    display: inline-block;
    max-height: 235px;
  }

  .home_events_container {
  }

  .home_explore_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main_explore img {
    display: inline-block;
    min-height: 131px;
    max-height: 220px;
  }
}
