@import "imports/links.css";
@import "imports/variables.css";

@font-face {
  font-family: "Fredoka One";
  src: url("../fonts/FredokaOne-Regular.ttf") format("truetype");
}

body {
  font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  min-height: 100vh;
  margin: 0px auto;
  background: #c2c7e5;
}

h1,
h2 {
  font-family: var(--text-heading);
  color: #a21085;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
  text-align: center;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
}

.small_cta {
  display: inline-block;
  background-color: white;
  padding: 10px 28px;
  border-color: #a21085;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  text-align: center;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  color: var(--main-color);
  font-weight: bold;
}

.subscribe_form {
  border-color: black;
  color: black;
  display: flex;
  border-radius: 5px;
  margin-bottom: 20px;
}

.subscribe_form input {
  padding: 10px;
  min-width: 150px;
}

.subscribe_cta {
  background-color: #075f5f;
  color: white;
  text-decoration: none;
  padding: 10px 28px;
}

.rounded {
  border-top: 3px solid white;
  border-radius: 5px;
  margin: 20px;
}

/*header*/

header img {
  width: 90px;
}

.logo {
  padding: 10px;
}

nav {
  margin-left: 25px;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 1000;
  right: 0px;
  text-align: center;
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px 30px;
}

#menu-icon {
  display: none;
}

.menu-btn {
  font-size: 30px;
  float: right;
  margin: 30px;
  cursor: pointer;
}

#menu-icon:checked ~ nav {
  display: block;
}

header,
footer,
nav {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 112, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}

.main-cover-content {
  display: block;
  text-align: center;
}

.main-cover {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 400px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 112, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(../images/wave6.png);
  background-size: 1000px 100px;
}

.wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}

.wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

/*footer*/
footer {
  display: block;
}

footer h3,
footer p {
  color: white;
}

footer img {
  width: 150px;
}

.footer-container {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
}

.footer-container-column,
.visit-container-column {
  margin: 0 10px;
  min-width: 200px;
  padding: 10px;
}

.footer-contact {
  font-size: 1em;
  text-align: left;
}

.footer-opening-hours tr,
.visit-opening-hours tr {
  text-align: left;
}

.footer-opening-hours td,
.visit-opening-hours td {
  text-align: right;
}

.footer-opening-hours td,
.visit-opening-hours td {
  padding: 0 0 0 15px;
}

.copyright {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
}
