.main_subscription {
  padding: 20px;
  text-align: center;
}

.main_subscription img {
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}

.subscription-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.thank-you {
  display: block;
  margin: 20px;
  text-align: center;
}

.subscription_theme {
  display: block;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
}

h3 {
  text-align: center;
}
