.visit-container_location {
  display: block;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  max-width: 960px;
  margin: 20px auto;
}

.visit-container_location h3 {
  text-align: left;
}

.visit-container_location img {
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.visit-container-column {
  margin: 0 10px;
  min-width: 200px;
  margin: 10px;
}

.visit-opening-hours tr {
  text-align: left;
}

.visit-opening-hours td {
  text-align: right;
}

.visit-opening-hours td {
  padding: 0 0 0 15px;
}

.information_container {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 112, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.visit_information {
  display: block;
}

.visit_information h3 {
  font-weight: bold;
}

.visit_icon {
  display: block;
  text-align: center;
  padding: 20px;
}

.visit_information i {
  color: #a21085;
  font-size: 5em;
  padding: 10px;
  border-radius: 2px;
}
